body.dark-theme{
    background-color: var(--black);
    color:var(--white);
    transition: all 0.2s;
}

body.dark-theme i {
    color:var(--white);   
}

body.dark-theme a{
    color:var(--white);
}

body.dark-theme .footer{
    background-color: var(--gray);
}

body.light-mode{
    transition: all 0.2s
}