body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header{
    padding: 0 2em;
    margin-top: 3em;
}

.header-title {
    font-size: 2em;
    letter-spacing: -0.02em;
    font-weight: 600;
    margin-bottom: -0.2em;
}

.header-subtitle {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 2em;
}

.header-description {
    font-weight: 300;
    font-size: 1.2em;
    text-align: justify;
    hyphens: auto;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.header-list{
    display: none;
}

section{
    padding: 0 2em;
}

.section-title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0em;
}

hr {
    margin-bottom: 1.4em;
}

.section-article {
    display: grid;
    grid-template-columns: minmax(min-content, 90px) minmax(200px, 1fr);
    width: 100%;
    margin-bottom: 1em;
}

.article-title {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5em;
    margin-top: 0.45em;
    margin-bottom: -0.1em;
}

.article-workplace {
    font-weight: 300;
    font-style: italic;
    margin-bottom: 2em;
}

.article-workplace-link {
    color: black;
    font-weight: 300;
    text-decoration: none;
}

.article-date {
    font-size: 0.8em;
    line-height: 0.9em;
    margin-bottom: 2em;
}

.article-city {
    font-size: 0.8em;
    line-height: 0.9em;
}

.article-list{
    margin-top: 3.5em;
    margin-bottom: 4em;
}
.article-list-item {
    font-size: 1.1em;
    font-weight: 300;
    text-align: justify;
    hyphens: auto;
    line-height: 1.5em;
    margin-left: -6.5em;
    margin-right: 0.5em;
    margin-bottom: 0.8em;
}

footer {
    background-color: rgb(243, 243, 243);
    width: 100vw;
    padding: 2em;

}

.footer-list{
    padding: 0;
}
.footer-list-item {
    list-style: none;
    margin-bottom: 20px;
    /* display: inline-block */
}

.footer-list-text {
    position: relative;
    top: -2.5px;
    margin-left: 0.5em;
    margin-right: 2em;
    font-weight: 300;
}