body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header{
    padding: 0 2rem;
    margin-top: 3rem;
}

.header-title {
    font-size: 2rem;
    letter-spacing: -0.02rem;
    font-weight: 600;
    margin-bottom: -0.2rem;
}

.header-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.header-description {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: justify;
    hyphens: auto;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.header-list{
    display: none;
}

.section{
    padding: 0 2rem;
}

.section-title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.section-article {
    display: grid;
    grid-template-columns: minmax(min-content, 90px) minmax(200px, 1fr);
    width: 100%;
    margin-bottom: 1rrem;
}

.article-title {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5rem;
    margin-top: 0.45rem;
    margin-bottom: -0.1rem;
}

.article-workplace {
    font-weight: 300;
    font-style: italic;
    margin-bottom: 2rem;
}

.article-workplace-link {
    color: black;
    font-weight: 300;
    text-decoration: none;
}

.article-date {
    font-size: 0.8rem;
    line-height: 0.9rem;
    margin-bottom: 2rem;
}

.article-city {
    font-size: 0.8rem;
    line-height: 0.9rem;
}

.article-list{
    margin-top: 3.5rem;
    margin-bottom: 4rem;
}
.article-list-item {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
    hyphens: auto;
    line-height: 1.5rem;
    margin-left: -6.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.8rem;
}

.footer {
    width: 100vw;
    padding: 2rem;
}

.footer-list{
    padding: 0;
}
.footer-list-item {
    list-style: none;
    margin-bottom: 20px;
    /* display: inline-block */
}

.footer-list-text {
    position: relative;
    top: -2.5px;
    margin-left: 0.5em;
    margin-right: 2em;
    font-weight: 300;
}