* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.container {
    margin: auto;
    max-width: 1000px;
    padding: 0 3em;
}