/* *{
    border: 1px solid red;
} */
:root{
    --white: rgb(226, 226, 226);
    --black: rgb(41, 41, 41);
    --gray: rgb(35, 35, 35);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.header-avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 0.8em;
    border-radius: 50%;
}

.header-button-darkmode {
    float: right;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
}

.header-button-darkmode > i{
    color: var(--black);
}