/* *{
    border: 1px solid black;
} */

body {
    font-family: 'Montserrat', sans-serif;
}

.text-bold {
    font-weight: 600;
}

.text-medium {
    font-weight: 300;
}

.text-light {
    font-weight: 200;
}

.uppercase {
    text-transform: uppercase;
}

h4 {
    margin-top:16px;
    margin-bottom: 0px;
}

article {
    display: grid;
    grid-template-columns: minmax(min-content, 100px) minmax(200px, 1fr);
    width: 100%;
}

article>div {
    /* border: 1px solid black; */
}