body {
    font-family: 'Montserrat', sans-serif;
}
.text-bold{
    font-weight: 600;
}

.text-medium{
    font-weight: 300;
}

.text-light{
    font-weight: 200;
}

.uppercase{
    text-transform: uppercase;
}