/* *{
    border: 1px solid black;
} */

body {
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin:auto;
    max-width: 800px;
    margin: 0 30px;
}

.text-bold {
    font-weight: 600;
}

.text-medium {
    font-weight: 300;
}

.text-light {
    font-weight: 200;
}

.uppercase {
    text-transform: uppercase;
}

h4 {
    margin-top:12px;
    margin-bottom: 0px;
}

article {
    display: grid;
    grid-template-columns: minmax(min-content, 100px) minmax(200px, 1fr);
    width: 100%;
}

.left-column{
    font-size: 0.8em;
    line-height: 0.9em;
}

footer>ul>li{
    list-style: none;
}